#main {
    height: 95vh;
    width: 95vw;
}

@media screen and (max-width: 1600px) and (min-width: 1100px) {
    .purple {
        background: purple;
        width: 24%;
        height: 25%;
        position: absolute;
        bottom: 5%;
        right: 12%;
    }

    .orange {
        background: orange;
        width: 47%;
        height: 15%;
        position: absolute;
        bottom: 80%;
        right: 12%;
    }

    .red {
        background: red;
        width: 27%;
        height: 15%;
        position: absolute;
        bottom: 80%;
        left: 12%;
    }

    .green {
        background: green;
        width: 76%;
        height: 40%;
        position: absolute;
        bottom: 35%;
        left: 12%;
    }

    .brown{
        background: brown;
        width: 24%;
        height: 25%;
        position: absolute;
        bottom: 5%;
        left: 12%;
    }

    .blue{
        background: blue;
        width: 24%;
        height: 25%;
        position: absolute;
        bottom: 5%;
        left: 38%;
    }
}


@media screen and (max-width: 1100px) and (min-width: 667px) {
    .purple {
        background: purple;
        width: 47%;
        height: 15%;
        position: absolute;
        bottom: 80%;
        right: 12%;
    }

    .orange {
        background: orange;
        width: 27%;
        height: 15%;
        position: absolute;
        bottom: 80%;
        left: 12%;
    }

    .red {
        background: red;
        width: 76%;
        height: 40%;
        position: absolute;
        bottom: 35%;
        left: 12%;
    }

    .green {
        background: green;
        width: 37%;
        height: 25%;
        position: absolute;
        bottom: 5%;
        left: 12%;
    }

    .blue{
        background: blue;
        width: 37%;
        height: 25%;
        position: absolute;
        bottom: 5%;
        right: 12%;
    }
}


@media screen and (max-width: 667px) {
    .green {
        background: green;
        width: 75%;
        height: 16%;
        position: absolute;
        bottom: 79%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .purple {
        background: purple;
        width: 75%;
        height: 16%;
        position: absolute;
        bottom: 58%;
        left: 50%;
        transform: translate(-50%, 0);
    }

    .red {
        background: red;
        width: 75%;
        height: 48%;
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translate(-50%, 0);
    }
}